[Unit]
Description=webappdevelopment
After=syslog.target

[Service]
User=root
Restart=always
RestartSec=30s
ExecStart=/usr/bin/java -jar /var/webappdevelopment/webappdevelopment-0.0.1-SNAPSHOT.jar SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
